alembic
bcrypt
cryptography
fastapi
google-cloud-storage
httpx
httptools
honeybee-ph
honeybee-ref
passlib
PHX
pillow
psycopg2-binary
pyairtable
pyjwt
PyMuPDF
pytest
pytest-cov
pytest-asyncio
python-dotenv
python-multipart
pydantic<2.0
rich
sqlalchemy
slowapi
uvicorn
uvloop 