:root {
    --primary-color: #1976d2;
    --secondary-color: #db0697;
    --text-primary-color: #1f2328;
    --text-secondary-color: #db0697;
    --appbar-bg-color: #f6f8fa;
    --outline-color: #d1d9e0;
}