.assembly-layer-segments {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0px;
    justify-content: center;
}

.assembly-layer-segment {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    height: 100%;
    position: relative;
}

.layer-segment-svg:hover rect {
    fill: var(--construction-layer-segment-hover-fill);
    stroke: var(--construction-layer-segment-hover-stroke);
    stroke-width: 3px;
}

.layer-segment-rect {
    fill: var(--construction-layer-segment-rect-fill);
    stroke: var(--construction-layer-segment-rect-stroke);
    stroke-width: 1px;
}

.create-new-segment-button {
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    background-color: #b2087c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-new-segment-button-right {
    right: -20px;
    transform: translateY(-50%) translateX(-50%);
}

.create-new-segment-button-left {
    left: -20px;
    transform: translateY(-50%) translateX(50%);
}
