.assembly-layer-thickness:hover {
    color: var(--text-highlight-color);
    font-weight: 700;
    border-right: 1px solid var(--text-highlight-color);
    background-color: var(--highlight-light-color)
}