.assembly-material-list-container {
    margin: 15px;
    border-left: 1px solid #e0e0e0;
    padding-left: 10px;
    padding-right: 20px;
}

.assembly-title {
    border-bottom: 1px solid #868686;
    padding-bottom: 5px;
}

.material-row {
    border-bottom: 1px solid #e0e0e0;
    margin-left: 20px;
    align-content: center;
}

.row-item {
    padding-right: 20px;
    align-content: center;
}

.datasheet-urls {
    font-size: 0.75em;
    padding: 10px;
    background-color: var(--construction-layer-segment-hover-fill);
    border-radius: 5px;
    border: 1px solid var(--text-highlight-color);
}

.photo-urls {
    font-size: 0.75em;
    padding: 10px;
    background-color: var(--construction-layer-segment-hover-fill);
    border-radius: 5px;
    border: 1px solid var(--text-highlight-color);
}