.have-specification-complete {
    background-color: rgb(190, 235, 190);
}

.have-specification-missing {
    color: white;
    background-color: var(--missing-weak);
    border: 1px solid var(--missing-strong);
}

.have-specification-question {
    color: white;
    background-color: rgb(249, 195, 96);
}

.have-specification-na {
    background-color: var(--appbar-bg-color);
}