.have-specification-complete {
    background-color: var(--complete);
}

.have-specification-missing {
    color: var(--missing-strong) !important;
    background-color: var(--missing-weak);
    border: 1px solid var(--missing-strong);
}

.have-specification-question {
    color: white;
    background-color: var(--question);
}

.have-specification-na {
    background-color: var(--appbar-bg-color);
}
